@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Ubuntu Sans', sans-serif;
}

body {
  background-color: #1a1a1a;
}

body::-webkit-scrollbar {
  display: none;
}